<nav id="top">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="list-inline">
          <li class="list-inline-item me-3"><x-include src="common/currency"></x-include></li>
          <li class="list-inline-item"><x-include src="common/language"></x-include></li>
        </ul>
      </div>
      <div class="col text-end">
        <ul class="list-inline">
          <li class="list-inline-item"><x-link href="information/contact" target="content"><i class="fa-solid fa-phone"></i> <span class="d-none d-lg-inline">{{ config_telephone }}</span></x-link></li>
          <li class="list-inline-item">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-user"></i> <span class="d-none d-lg-inline">{{ text_account }}</span> <i class="fa-solid fa-caret-down"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                {% if !logged %}
                <li><x-link href="account/register" target="content" input-class="dropdown-item">{{ text_register }}</x-link></li>
                <li><x-link href="account/login" target="content" class="dropdown-item">{{ text_login }}</x-link></li>
                {% else %}
                <li><x-link href="account/account" target="content" class="dropdown-item">{{ text_account }}</x-link></li>
                <li><x-link href="account/order" target="content" class="dropdown-item">{{ text_order }}</x-link></li>
                <li><x-link href="account/transaction" target="content" class="dropdown-item">{{ text_transaction }}</x-link></li>
                <li><x-link href="account/download" target="content" class="dropdown-item">{{ text_download }}</x-link></li>
                <li><x-link href="account/logout" target="content" class="dropdown-item">{{ text_logout }}</x-link></li>
                {% endif %}
              </ul>
            </div>
          </li>
          <li class="list-inline-item"><x-link href="account/wishlist" id="wishlist-total" title="{{ text_wishlist | replace: '%s', wishlist }}" target="content"><i class="fa-solid fa-heart"></i> <span class="d-none d-lg-inline">{{ text_wishlist | replace: '%s', wishlist }}</span></x-link></li>
          <li class="list-inline-item"><x-link href="checkout/cart" title="{{ text_shopping_cart }}" target="content"><i class="fa-solid fa-cart-shopping"></i> <span class="d-none d-lg-inline">{{ text_shopping_cart }}</span></x-link></li>
          <li class="list-inline-item"><x-link href="checkout/checkout" title="{{ text_checkout }}" target="content"><i class="fa-solid fa-share"></i> <span class="d-none d-lg-inline">{{ text_checkout }}</span></x-link></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4">
        <div id="logo">{% if config_logo %}<a href="{{ config_url }}"><img src="{{ config_url }}image/{{ config_logo }}" title="{{ config_name }}" alt="{{ config_name }}" class="img-fluid"/></a>{% else %}<h1><a href="{{ config_url }}">{{ config_name }}</a></h1>{% endif %}</div>
      </div>
      <div class="col-md-5"><x-include src="common/search"></x-include></div>
      <div class="col-md-4 col-lg-3 mb-2"><x-include src="common/cart"></x-include></div>
    </div>
  </div>
</header>


